<div ng-include="'components/menu.html'"></div>

<h1>Inventory</h1>

<button ng-mousedown="showEquipped()">Show Equipped</button>

<ul class="items-list">
	<li class="items-list__item" ng-repeat="item in items track by $index">{{ item.name}} <button ng-show="item.consumable" ng-click="useItem()">Use</button> <button ng-click="dropItem()">Drop</button><button ng-show="item.wearable" ng-mousedown="showEquipped()">Equip</button></li>

	<li class="items-list__item" ng-show="!items.length">You have no items</li>
</ul>

<div ng-show="showEquipment" class="takeover takeover-right">
	<div ng-click="hideEquipped()" class="takeover__close">Close</div>
	<div class="takeover__modules takeover__modules--2col t-takeover__modules--medgray">
		<div class="takeover__module">Helmet</div>
		<div class="takeover__module">Armor</div>
		<div class="takeover__module">Left Hand</div>
		<div class="takeover__module">Right Hand</div>
	</div>
</div>