<div ng-include="'components/menu.html'"></div>

<h1>Shop</h1>
<h4>Viewing: {{ shopName }}</h4>
<div ng-init="generateShopItems()" class="module shop-module"></div>

<button ng-click="showShopItems()">View Shop Items</button>
<button ng-click="showPlayerItems()">View Your Items</button>

<ul class="shop__items items-list">
	<li class="shop__item items-list__item" ng-repeat="item in items track by $index">{{ item.name }} <button ng-disabled="{{ item.value > playerGold }}" ng-show="showBuyButton" ng-click="buyItem()">Buy for {{ item.value }}</button><button ng-show="showSellButton" ng-click="sellItem()">Sell for {{ Math.ceil(item.value / sellRatio) }} gold</button></li>

	<li class="items-list__item" ng-show="!items.length">You have no items</li>

</ul>

<h4>Your gold: {{ playerGold }}
