<div class="opacity opacity--{{ opacity || 1 }}">
	<div ng-include="'components/menu.html'"></div>

	<h1>Shop</h1>
	<h4>{{ shopView }}</h4>
	<div ng-init="generateShopItems()" class="module shop-module"></div>

	<ul>
		<li>
			<button ng-click="showShopItems()">Buy Items</button>
		</li>
		<li>
			<button ng-click="showShopWeapons()">Buy Weapons</button>
		</li>
		<li>
			<button ng-click="showShopArmor()">Buy Armor</button>
		</li>
		<li>
			<button ng-click="showPlayerItems()">Sell Items</button>
		</li>
	</ul>

	<h2>Your gold: {{ playerGold }}</h2>
</div>

<div ng-include="'components/takeover--items.html'"></div>
