<div ng-include="'components/menu.html'"></div>

<h1>Shop</h1>
<h4>{{ shopView }}</h4>
<div ng-init="generateShopItems()" class="module shop-module"></div>

<button ng-click="showShopItems()">Buy Items</button>
<button ng-click="showPlayerItems()">Sell Items</button>

<ul>
	<li ng-click="showItems()">Items</li>
	<li ng-click="showWeapons()">Weapons</li>
	<li ng-click="showArmor()">Armor</li>
</ul>

<ul class="shop__items items-list">
	<li class="shop__item items-list__item" ng-repeat="item in items track by $index">{{ item.name }} <button ng-disabled="{{ item.value > playerGold }}" ng-show="showBuyButton" ng-click="buyItem()">Buy for {{ item.value }}</button><button ng-show="showSellButton" ng-click="sellItem()">Sell for {{ Math.ceil(item.value / sellRatio) }} gold</button></li>

	<li class="items-list__item" ng-show="!items.length">You have no items</li>

</ul>

<h2>Your gold: {{ playerGold }}</h2>
