body {
	background: #f1f1ea;
	color: #333;
	font-family: sans-serif;
}

/*--------------------*/
/* main nav ----------*/
/*--------------------*/
.main-nav {
	margin: 20px 0;
}
	.main-nav__link {
		display: inline-block;
		margin: 0 3px;
	}
/* end main nav */

/*--------------------*/
/* main structure ----*/
/*--------------------*/
.wrapper--main {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}
/* end main structure */

/*--------------------*/
/* progress bars -----*/
/*--------------------*/
[circle-progress] {
	margin: 20px 0;
	position: relative;
	display: inline-block;
}
[circle-progress] > canvas {
	margin: 0 auto;
	transform: scale(-1, 1);
}
[circle-progress] > h3 {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top: -11px;
}

/*-------------------*/
/* Fight ------------*/
/*-------------------*/
.progress__hp:after {

}
.module--enemy {
	margin-top: 40px;
}