body {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #333 !important;
	color: #333;
	font-family: sans-serif;
}
.scale {
	transition: all 400ms ease-out;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #fff;
}
	.scale--100 {
		transform: scale(1);
	}
	.scale--90 {
		transform: scale(0.9);
		opacity: 0;
	}

.opacity {
	transition: all 200ms ease-out;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #fff;
}
	.opacity--10 {
		opacity: .1;
	}

/*--------------------*/
/* main nav ----------*/
/*--------------------*/
.main-nav {
	margin: 20px 0;
}
	.main-nav__link {
		display: inline-block;
		margin: 0 3px;
	}
/* end main nav */

/*--------------------*/
/* main structure ----*/
/*--------------------*/
.wrapper--main {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}
/* end main structure */

/*--------------------*/
/* progress bars -----*/
/*--------------------*/
[circle-progress] {
	margin: 20px 0;
	position: relative;
	display: inline-block;
}
[circle-progress] > canvas {
	margin: 0 auto;
	transform: scale(-1, 1);
}
[circle-progress] > h3 {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top: -11px;
}

/*-------------------*/
/* Fight ------------*/
/*-------------------*/
.progress__hp:after {
	content: ' hp';
}
.module--enemy {
	margin-top: 40px;
}

/*-------------------*/
/* Shop -------------*/
/*-------------------*/
.shop__items {
	width: 50%;
	margin: 50px auto 0;
	top: 100px;
	min-width: 320px;
}
.items-list {
	padding: 0 30px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
}
	.items-list__item {
		list-style: none;
	    border-top: 1px solid #ddd;
	    padding: 30px 0;
	}
	.items-list__item:first-child {
		border: none;
	}

/*-------------------*/
/* Takeovers --------*/
/*-------------------*/
.takeover {
	background: #ccc;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	padding: 10px;
}
	.takeover > div {
		height: 100%;
	}
	.takeover__module {
		float: left;
	}
	.takeover.ng-hide:not(.ng-hide-animate) {
		display: block !important;
	}

/*-------------------*/
/* Takeover Right ---*/
/*-------------------*/
.takeover-right.ng-hide {
	transform: translate3d(0, 0, 0);
}
.takeover-right.ng-hide .takeover__module {
	transform: translate3d(200%, 0, 0);
}
.takeover-right .takeover__module {
	transition: all 600ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	transition-delay: 200ms;
}
.takeover-right {
	transition: all 300ms linear;
	transform: translate3d(-100%, 0, 0);
	left: 100%;
	top: 0;
}

/*-------------------*/
/* Takeover Bottom --*/
/*-------------------*/
.takeover-bottom.ng-hide {
	transform: translate3d(0, 0, 0);
}
.takeover-bottom.ng-hide .takeover__modules {
	transform: translate3d(0, 100%, 0);
}
.takeover-bottom .takeover__modules {
	transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	transition-delay: 100ms;
	transform: translate3d(0, -100%, 0);
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
}
.takeover-bottom {
	transition: all 350ms linear;
	transform: translate3d(0, -100%, 0);
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
}
.takeover__close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

/* Takeover 2x2 */
.takeover__module {
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	padding: 10px;
}
	.takeover__module > div {
		height: 100%;
		padding: 10px;
		background: #aaa;
		border-radius: 3px;
	}

/*---------------*/
/* Gear Takeover */
/*---------------*/
.takeover-gear .items-list {
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 39%;
	overflow: scroll;
	padding: 0;
}
	.takeover-gear .items-list__item {
		padding: 10px;
	}
.takeover-gear .takeover__modules {
	position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}
.takeover-gear .takeover__module {
	height: 25%;
}